<header id="main-header">
  <div>
    <div class="title">
      NOVA ADMISSÃO COOPERADO
    </div>
    <div class="subtitle">
      Cadastro / Admissão do Coomperado / Nova Admissão de Cooperado
    </div>
  </div>

  <div class="header-part-right" >

    <div  class="user col">
      <img src="./../../../assets/images/notifications_black_24dp.svg" alt="" srcset="">

      <div class="name">
        VIA CRED
      </div>
      <img src="./../../../assets/images/perfil2.jpeg" alt="" srcset="">
    </div>
  </div>
</header>
